# Amazon Sale Data Analysis
本项目使用Amazon Sale数据集,包含该网站2022年4至6月的销售数据。<br />

Amazon是美国最大的电子商务交易网站，本数据集有助于深入了解电子商务销售的盈利能力。它包含各种销售渠道的数据，以及相关费用和利润的财务信息。数据列包含SKU代码、库存级别、产品类别等数据。此外，数据采集人员还添加了交易参数，如B2B状态、成交金额的销售情况。<br />

## 数据集各字段释义：
'Category'：Type of product.<br />
'Size'：Size of the product.<br />
'Date'：Date of the sale. <br />
'Status'：Status of the sale. <br />
'Fulfilment'：Method of fulfilment. <br />
'Style'：Style of the product. <br />
'SKU'：Stock Keeping Unit.【该字段作为判断单个商品的ID】<br />
'ASIN'：Amazon Standard Identification Number. <br />
'Courier Status'：Status of the courier. <br />
'Qty'：Quantity of the product. <br />
'Amount'：Amount of the sale. <br />
'B2B'：Business to business sale. <br />
'Currency'：The currency used for the sale.<br />

## 1. 导入'Amazon Sale Report.csv', 并将DataFrame命名为'sale_data', 显示前5行。
## 1. Import 'Amazon Sale Report.csv' and name the DataFrame as 'sale_data', show the first 5 rows.

In [1]:
# 引入必要的库
import numpy as np
import pandas as pd

In [2]:
# 导入数据，并将其命名为‘sale_dat'
sale_data = pd.read_csv('/Users/miaoxuzhou/myFolder/homework/Amazon Sale Report.csv')

In [3]:
# 显示全部列
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [4]:
# 显示前5行
sale_data.head(5)

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,NaN,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,NaN,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN

## 2. 检查各字段的数据类型以及非空值的数量。
## 2. Check the data type of each field and the number of non-null values.

In [5]:
# 各字段的数据类型
sale_data.dtypes

Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
B2B                      bool
fulfilled-by           object
dtype: object

In [6]:
# 方法一
sale_data.notnull().sum()

Order ID              73695
Date                  73695
Status                73695
Fulfilment            73695
Sales Channel         73695
ship-service-level    73695
Style                 73695
SKU                   73695
Category              73695
Size                  73695
ASIN                  73695
Courier Status        69458
Qty                   73695
currency              69258
Amount                69258
ship-city             73681
ship-state            73681
ship-postal-code      73681
ship-country          73681
B2B                   73695
fulfilled-by          24355
dtype: int64

In [7]:
# 方法二
pd.notnull(sale_data).sum()

Order ID              73695
Date                  73695
Status                73695
Fulfilment            73695
Sales Channel         73695
ship-service-level    73695
Style                 73695
SKU                   73695
Category              73695
Size                  73695
ASIN                  73695
Courier Status        69458
Qty                   73695
currency              69258
Amount                69258
ship-city             73681
ship-state            73681
ship-postal-code      73681
ship-country          73681
B2B                   73695
fulfilled-by          24355
dtype: int64

In [8]:
# 方法三
sale_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73695 entries, 0 to 73694
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order ID            73695 non-null  object
 1   Date                73695 non-null  object
 2   Status              73695 non-null  object
 3   Fulfilment          73695 non-null  object
 4   Sales Channel       73695 non-null  object
 5   ship-service-level  73695 non-null  object
 6   Style               73695 non-null  object
 7   SKU                 73695 non-null  object
 8   Category            73695 non-null  object
 9   Size                73695 non-null  object
 10  ASIN                73695 non-null  object
 11  Courier Status      69458 non-null  object
 12  Qty                 73695 non-null  int64
 13  currency            69258 non-null  object
 14  Amount              69258 non-null  float64
 15  ship-city           73681 non-null  object
 16  ship-state          73681 non-null  object
 17  ship-postal-code    73681 non-null  float64
 18  ship-country        73681 non-null  object
 19  B2B                 73695 non-null  bool
 20  fulfilled-by        24355 non-null  object
dtypes: bool(1), float64(2), int64(1), object(17)
memory usage: 11.3+ MB

## 3. 统计各个字段的缺失值比例，转为百分比形式，保留两位小数。
## 3. Count the proportion of missing values for each field, converted to percentage form with two decimal places.

In [9]:
# 统计各个字段的缺失值比例 
null_percentage = pd.Series(sale_data.isnull().sum() / sale_data.shape[0])

In [10]:
null_percentage.map(lambda x: format(x, '.2%'))

Order ID               0.00%
Date                   0.00%
Status                 0.00%
Fulfilment             0.00%
Sales Channel          0.00%
ship-service-level     0.00%
Style                  0.00%
SKU                    0.00%
Category               0.00%
Size                   0.00%
ASIN                   0.00%
Courier Status         5.75%
Qty                    0.00%
currency               6.02%
Amount                 6.02%
ship-city              0.02%
ship-state             0.02%
ship-postal-code       0.02%
ship-country           0.02%
B2B                    0.00%
fulfilled-by          66.95%
dtype: object

## 4. 删除'Courier Status'列中取值为Cancelled和NaN的订单。
## 4. Delete orders with values Cancelled and NaN in the 'Courier Status' column.

In [11]:
# 'Courier Status'取值为Cancelled和NaN的行索引
index_list = sale_data[(sale_data['Courier Status'] == 'Cancelled') | (sale_data['Courier Status'].isnull())].index

In [12]:
index_list

Index([    0,     3,     8,    23,    29,    65,    83,    84,    95,   101,
       ...
       73567, 73581, 73605, 73610, 73622, 73623, 73627, 73628, 73678, 73687],
      dtype='int64', length=7500)

In [13]:
# 删除上述行
sale_data.drop(index=index_list, inplace=True)

In [14]:
sale_data['Courier Status'].unique()

array(['Shipped', 'Unshipped'], dtype=object)

## 5. 统计销售金额（Amount）为NaN的订单状态（status）是什么？然后将取值为空的Amount设置为0。
## 5. What is the status of an order that has a sales amount (Amount) of NaN? Then set the Amount with a null value to 0.

In [15]:
'''
销售金额为NaN的订单，共有三种状态，分别为'Shipped', 'Cancelled', 'Shipping'
'''

sale_data[sale_data['Amount'].isnull()]['Status'].unique()

array(['Shipped', 'Cancelled', 'Shipping'], dtype=object)

In [16]:
'''
每种订单状态的数量如下所示
'''

sale_data[sale_data['Amount'].isnull()]['Status'].value_counts()

Status
Shipped      67
Shipping      8
Cancelled     1
Name: count, dtype: int64

In [17]:
# 将取值为空的Amount设置为0

sale_data.fillna({'Amount': 0}, inplace=True)

## 6. 统计配送订单数量前10的城市（city）。
## 6. Statistics on the top 10 cities in terms of the number of delivery orders.

In [18]:
# 方法一
sale_data.groupby('ship-city').size().sort_values(ascending=False).head(10)

ship-city
BENGALURU    5860
HYDERABAD    4251
MUMBAI       3172
NEW DELHI    2924
CHENNAI      2764
PUNE         2005
KOLKATA      1221
GURUGRAM     1029
THANE         856
NOIDA         751
dtype: int64

In [19]:
# 方法二
sale_data['ship-city'].value_counts().head(10)

ship-city
BENGALURU    5860
HYDERABAD    4251
MUMBAI       3172
NEW DELHI    2924
CHENNAI      2764
PUNE         2005
KOLKATA      1221
GURUGRAM     1029
THANE         856
NOIDA         751
Name: count, dtype: int64

## 7. 销售渠道（sales channel）中不同配送方式（ship-service-level）各有多少订单？
## 7. How many orders are there for each of the different distribution methods (ship-service-level) in the sales channel?

In [20]:
'''
销售渠道为Amazon.in的订单中，有45486个的配送方式为Expedited，20633个的配送方式为Standard
销售渠道为Non-Amazon的订单，配送方式全部为Standard
'''

sale_data.groupby('Sales Channel')['ship-service-level'].value_counts()

Sales Channel  ship-service-level
Amazon.in      Expedited             45486
               Standard              20633
Non-Amazon     Standard                 76
Name: count, dtype: int64

## 8. 筛选出同一笔订单中购买两个以上商品的Style。
## 8. Filter Style for purchases of more than two items in the same order.

### a. 检查订单ID的重复情况。（共计多少个重复订单？）
### a. Check for duplicate order IDs. (How many total duplicate orders?) 

### b.给出相同订单同时购买的商品Style列表。
### b. Give the list of Styles of items purchased at the same time for the same order.

In [21]:
'''
共有4442个重复订单
'''

# 方法一
sale_data['Order ID'].duplicated().sum()

4442

In [22]:
# 方法二
sale_data.duplicated(subset=['Order ID']).sum()

4442

In [23]:
# 计算各订单的出现次数

orders = sale_data['Order ID'].value_counts()

In [24]:
orders

Order ID
404-9932919-6662730    11
408-3317403-1729937    10
171-0706521-2133101     9
406-9002076-4152331     9
408-2964501-8373155     9
                       ..
408-2995578-1548353     1
404-5702960-6607520     1
402-9354309-8488351     1
171-3555340-7344362     1
408-7436540-8728312     1
Name: count, Length: 61753, dtype: int64

In [25]:
# 出现次数大于1次的订单

'''
共有3520个订单重复出现
'''

orders[orders > 1]

Order ID
404-9932919-6662730    11
408-3317403-1729937    10
171-0706521-2133101     9
406-9002076-4152331     9
408-2964501-8373155     9
                       ..
406-6287425-2580336     2
405-5072638-5053100     2
404-2077610-0505155     2
408-9194238-6276309     2
402-5940577-5694732     2
Name: count, Length: 3520, dtype: int64

In [26]:
# 出现次数大于2次的订单的索引

duplicate_order_index = orders[orders > 2].index

In [27]:
duplicate_order_index

Index(['404-9932919-6662730', '408-3317403-1729937', '171-0706521-2133101',
       '406-9002076-4152331', '408-2964501-8373155', '408-1569430-1461928',
       '404-9683809-0005156', '406-1625125-0601152', '402-6165536-3533113',
       '402-1111229-8054733',
       ...
       '402-6021557-1715545', '171-9234688-5113153', '404-2275585-0501115',
       '405-7068814-7981155', '405-9653690-7942704', '171-9796298-6929959',
       '407-2651486-8916348', '408-0031421-1440330', '402-6505447-8489112',
       '405-6430907-0756335'],
      dtype='object', name='Order ID', length=629)

In [28]:
# 计算“出现次数大于2次的订单的索引”的第二种方法

duplicate_index = sale_data.groupby('Order ID')['SKU'].agg([('count', 'size')]).query('count > 2').index

duplicate_index

Index(['171-0106620-2575543', '171-0452578-4639521', '171-0706521-2133101',
       '171-0783760-5867544', '171-0897036-0249146', '171-0971399-7985957',
       '171-1011931-6908342', '171-1081347-9640320', '171-1276032-4353917',
       '171-1466085-1715543',
       ...
       '408-9075825-5955512', '408-9103810-9609927', '408-9138378-0186748',
       '408-9189814-1337959', '408-9476573-3347555', '408-9554050-4017922',
       '408-9645510-0101967', '408-9688958-6934717', '408-9729610-6276323',
       '408-9784778-4847521'],
      dtype='object', name='Order ID', length=629)

In [29]:
# 购买2个以上商品的订单的Style

sale_data.loc[sale_data['Order ID'].isin(duplicate_index), ['Order ID', 'Style']].\
groupby('Order ID')['Style'].unique()

Order ID
171-0106620-2575543                                                      [SET436, SET355, JNE3484]
171-0452578-4639521                                                       [CH202, JNE3801, SET444]
171-0706521-2133101    [JNE3605, SET058, SET217, JNE3440, SET094, SET233, SET396, JNE3802, SET230]
171-0783760-5867544                                                [JNE3619, SET350, J0102, J0331]
171-0897036-0249146                                                 [J0110, J0109, SET171, SET344]
                                                          ...
408-9554050-4017922                                                       [SET397, SET380, SET393]
408-9645510-0101967                                                    [JNE3528, JNE2086, JNE3560]
408-9688958-6934717                                                      [SET328, SET374, JNE3638]
408-9729610-6276323                                                    [JNE3903, JNE2294, JNE3561]
408-9784778-4847521                    [JNE0850, JNE09209, SAR163, SAR173, SAR165, SAR152, SAR181]
Name: Style, Length: 629, dtype: object

In [30]:
# style列表

sale_data[sale_data['Order ID'].isin(duplicate_index)]['Style'].unique()

array(['SET288', 'SET394', 'SET397', 'JNE3861', 'J0335', 'SET265',
       'J0280', 'JNE3405', 'JNE3288', 'SET316', 'J0006', 'JNE3487',
       'JNE3702', 'JNE3461', 'SET291', 'JNE3396', 'JNE3775', 'JNE3409',
       'SET345', 'JNE3715', 'SET398', 'J0230', 'MEN5001', 'MEN5022',
       'MEN5023', 'MEN5030', 'J0004', 'J0234', 'J0236', 'JNE3437',
       'JNE3718', 'JNE3463', 'JNE3673', 'J0124', 'JNE3691', 'J0008',
       'SET197', 'JNE3789', 'JNE3669', 'SET279', 'SET145', 'JNE3391',
       'JNE3787', 'JNE3603', 'JNE3618', 'JNE2199', 'JNE3614', 'SET356',
       'SET366', 'J0341', 'J0338', 'J0399', 'JNE3662', 'JNE3643',
       'JNE3660', 'JNE3468', 'SET363', 'SET348', 'J0003', 'JNE3543',
       'SET216', 'SET236', 'SET282', 'JNE3562', 'JNE3534', 'JNE3422',
       'JNE3786', 'JNE3785', 'JNE3446', 'J0299', 'JNE3751', 'JNE3837',
       'JNE3634', 'JNE3364', 'JNE3365', 'JNE3714', 'SET401', 'SET323',
       'JNE3781', 'SET217', 'J0185', 'JNE3068', 'SET307', 'J0034',
       'J0233', 'SET396', 'SET258', 'JNE3522', 'JNE3757', 'JNE3776',
       'JNE3384', 'SET277', 'J0011', 'J0010', 'SET377', 'SET393',
       'JNE3892', 'J0251', 'SET328', 'J0213', 'SET229', 'JNE3399',
       'JNE3294', 'JNE2170', 'SET183', 'SET058', 'JNE3291', 'J0024',
       'JNE3479', 'JNE3694', 'JNE1234', 'JNE3407', 'J0073', 'J0072',
       'J0026', 'SET358', 'SET260', 'JNE3697', 'SET324', 'J0281',
       'JNE3443', 'SET281', 'JNE3440', 'JNE3610', 'JNE3480', 'JNE3425',
       'JNE3510', 'J0415', 'J0337', 'JNE3415', 'JNE3633', 'JNE3376',
       'JNE3270', 'JNE3612', 'JNE3739', 'SET286', 'JNE3471', 'JNE3790',
       'JNE3432', 'JNE3516', 'SET247', 'JNE3722', 'J0308', 'J0396',
       'JNE3707', 'JNE3042', 'JNE2009', 'JNE3476', 'JNE2266', 'JNE3761',
       'SET310', 'JNE3688', 'SET400', 'JNE3576', 'JNE3638', 'J0302',
       'JNE3870', 'SET267', 'J0339', 'J0295', 'JNE3706', 'JNE3623',
       'JNE3777', 'JNE3518', 'JNE3725', 'J0164', 'SET293', 'JNE3427',
       'JNE3773', 'JNE3621', 'JNE3749', 'J0343', 'JNE3615', 'J0081',
       'SET238', 'JNE3764', 'J0376', 'SET389', 'JNE3835', 'JNE3836',
       'JNE3421', 'SET156', 'SET116', 'SET188', 'JNE3369', 'JNE3523',
       'J0029', 'J0051', 'JNE3833', 'JNE3738', 'JNE3473', 'JNE3742',
       'J0350', 'SET268', 'JNE3721', 'JNE3797', 'JNE3798', 'SET257',
       'SET285', 'JNE2291', 'JNE1951', 'SET219', 'JNE3806', 'SET233',
       'JNE3368', 'SET014', 'JNE3732', 'SET331', 'SET048', 'J0096',
       'JNE3423', 'JNE3439', 'JNE2265', 'JNE3470', 'JNE3501', 'JNE3412',
       'JNE3483', 'SET340', 'SET249', 'SET392', 'J0349', 'SET251',
       'SET110', 'SET098', 'SET349', 'SET361', 'SET339', 'J0025',
       'SET062', 'J0009', 'J0254', 'NW034', 'JNE3454', 'J0012', 'SET209',
       'SET275', 'J0007', 'SET043', 'SET218', 'J0340', 'J0344', 'SET365',
       'SET359', 'SET350', 'J0301', 'J0048', 'JNE3724', 'J0277', 'SET380',
       'JNE3716', 'JNE3763', 'JNE3255', 'SET210', 'SET220', 'SET272',
       'SET402', 'JNE3431', 'JNE3878', 'SET192', 'SET240', 'SET044',
       'J0104', 'JNE3363', 'JNE3144', 'JNE3567', 'SET278', 'JNE3488',
       'JNE3530', 'JNE3451', 'JNE3627', 'JNE3719', 'J0250', 'SET299',
       'J0370', 'CH203', 'CH204', 'CH213', 'SET290', 'SET374', 'JNE3465',
       'JNE3611', 'SET171', 'SET295', 'SET196', 'NW020', 'NW014', 'NW013',
       'JNE3560', 'SET270', 'MEN5008', 'MEN5009', 'MEN5032', 'JNE2321',
       'J0212', 'JNE3435', 'MEN5004', 'MEN5005', 'JNE3373', 'J0097',
       'J0369', 'J0239', 'SET405', 'J0132', 'SET264', 'SET130', 'JNE3366',
       'J0207', 'J0093', 'J0129', 'JNE3803', 'J0205', 'J0118', 'J0113',
       'SET153', 'JNE3549', 'J0217', 'J0219', 'J0216', 'JNE3636',
       'JNE3449', 'JNE3766', 'SET184', 'SET320', 'SET143', 'J0382',
       'J0247', 'JNE3710', 'SET221', 'JNE2171', 'J0243', 'SET243',
       'JNE3609', 'JNE3334', 'JNE3430', 'JNE3416', 'JNE3607', 'JNE3401',
       'SET334', 'SET326', 'SET332', 'JNE3759', 'JNE3810', 'JNE3794',
       'J0110', 'J0109', 'SET344', 'JNE3565', 'JNE3225', 'JNE3575',
       'JNE2014', 'JNE3467', 'JNE2032', 'JNE3574', 'JNE3784', 'JNE3408',
       'JNE3805', 'J0179', 'J0198', 'JNE3635', 'MEN5024', 'J0014',
       'J0346', 'J0186', 'JNE3795', 'JNE3704', 'JNE3700', 'SET038',
       'JNE1998', 'JNE1977', 'JNE3608', 'JNE3547', 'JNE3554', 'J0139',
       'JNE3652', 'JNE3659', 'JNE0850', 'JNE09209', 'SAR163', 'SAR173',
       'SAR165', 'SAR152', 'SAR181', 'SAR136', 'SAR112', 'SAR114',
       'SAR092', 'JNE09186', 'SAR091', 'SAR098', 'SAR100', 'SET289',
       'SET225', 'SET135', 'JNE3709', 'J0306', 'JNE3869', 'SET144',
       'JNE3801', 'J0190', 'JNE3645', 'JNE3428', 'JNE3619', 'SET369',
       'SET360', 'JNE3613', 'SET227', 'SET261', 'SET280', 'BL017',
       'SET269', 'SET433', 'JNE1525', 'NW030', 'NW031', 'NW012', 'SET347',
       'SET386', 'JNE3579', 'JNE3735', 'JNE3531', 'SET204', 'JNE3375',
       'SET388', 'JNE3736', 'JNE3753', 'JNE3726', 'SET004', 'J0150',
       'JNE3760', 'SET198', 'J0002', 'SET252', 'SET131', 'SET187',
       'J0278', 'MEN5021', 'MEN5026', 'JNE3813', 'JNE3637', 'JNE3654',
       'JNE3528', 'JNE2086', 'SET304', 'JNE3800', 'JNE3348', 'J0371',
       'MEN5003', 'MEN5028', 'JNE2307', 'JNE3564', 'J0210', 'JNE3779',
       'JNE3720', 'SET341', 'SET152', 'J0381', 'SET287', 'JNE3506',
       'JNE3485', 'SET413', 'SET375', 'MEN5006', 'MEN5011', 'PJNE1906',
       'PJNE3404', 'PSET268', 'J0197', 'J0127', 'SET395', 'SET203',
       'J0372', 'JNE3548', 'JNE2100', 'JNE3630', 'JNE3628', 'JNE3403',
       'J0336', 'SET228', 'JNE3887', 'SET415', 'J0375', 'JNE3865',
       'SET319', 'JNE3769', 'SET343', 'JNE3601', 'JNE3745', 'JNE3756',
       'JNE3515', 'JNE3703', 'JNE3879', 'J0157', 'JNE3252', 'JNE2153',
       'SET408', 'SET352', 'J0334', 'J0402', 'JNE3811', 'J0001', 'J0389',
       'J0095', 'J0143', 'JNE3482', 'MEN5018', 'MEN5031', 'MEN5019',
       'SET273', 'SET322', 'J0390', 'PSET264', 'PJNE3607', 'PJNE2014',
       'JNE3458', 'J0379', 'J0136', 'JNE3689', 'JNE3690', 'J0353',
       'J0152', 'PJNE3252', 'PJNE3399', 'PJNE3364', 'JNE3856', 'JNE2132',
       'J0380', 'JNE3780', 'JNE3778', 'J0192', 'JNE3819', 'JNE3822',
       'J0151', 'PJNE2100', 'J0401', 'J0333', 'SET302', 'JNE3355',
       'J0119', 'J0111', 'J0285', 'SET202', 'J0126', 'JNE2205', 'JNE3838',
       'JNE3616', 'J0228', 'J0013', 'SET078', 'PJNE2199', 'J0417',
       'J0388', 'J0391', 'J0181', 'J0392', 'MEN5020', 'JNE3620',
       'JNE3799', 'JNE3605', 'SET094', 'JNE3802', 'SET230', 'BTM039',
       'SET337', 'J0090', 'SET303', 'JNE3740', 'JNE3500', 'J0158',
       'SET201', 'MEN5007', 'JNE3905', 'MEN5029', 'MEN5027', 'MEN5025',
       'JNE3821', 'SET383', 'J0142', 'J0117', 'JNE3701', 'J0297',
       'JNE3640', 'J0413', 'J0105', 'J0304', 'JNE3881', 'BTM044',
       'BTM046', 'JNE3273', 'JNE3686', 'J0201', 'NW028', 'SET414',
       'JNE3898', 'J0188', 'SET226', 'JNE1906', 'PJNE3291', 'JNE3730',
       'SET100', 'J0089', 'J0203', 'J0082', 'J0153', 'JNE3904', 'SET266',
       'JNE3741', 'JNE3768', 'J0237', 'J0077', 'J0296', 'SET224', 'J0159',
       'J0307', 'SET239', 'J0283', 'J0284', 'SET329', 'J0249', 'J0385',
       'BL104', 'BL110', 'J0310', 'J0116', 'JNE3642', 'J0098', 'SET376',
       'JNE3265', 'JNE1408', 'SET321', 'JNE3899', 'BL111', 'BL089',
       'JNE3395', 'J0173', 'J0293', 'JNE3728', 'JNE2305', 'JNE3434',
       'SET186', 'SET246', 'SET436', 'SET355', 'JNE3484', 'JNE3791',
       'JNE3906', 'SET403', 'SET444', 'JNE3475', 'PJNE3440', 'JNE3765',
       'SET333', 'JNE3733', 'SET327', 'SET003', 'JNE3400', 'JNE3708',
       'JNE3257', 'SET317', 'JNE3903', 'JNE2294', 'JNE3561', 'SET330',
       'J0400', 'J0167', 'DPT052', 'SET357', 'NW001', 'J0345', 'JNE3661',
       'JNE3675', 'JNE3651', 'AN205', 'AN206', 'AN212', 'JNE3860',
       'SAR070', 'SET305', 'J0241', 'J0103', 'SET438', 'J0176', 'JNE3424',
       'J0418', 'JNE3641', 'J0244', 'JNE3727', 'J0242', 'JNE3872',
       'SET313', 'SET193', 'J0252', 'SET338', 'JNE3568', 'SET437',
       'SET318', 'J0434', 'JNE3792', 'J0419', 'JNE3793', 'J0102', 'J0331',
       'JNE3566', 'JNE3698', 'J0112', 'CH202', 'JNE3503', 'JNE3371',
       'SET263', 'J0420', 'J0373', 'J0209', 'J0187', 'J0374', 'JNE3504',
       'J0170', 'JNE3160', 'JNE3817', 'MEN5013', 'SET262', 'SET409',
       'JNE3617', 'JNE3771', 'SET346', 'SET373', 'JNE3441', 'JNE3782',
       'JNE3783', 'JNE3888', 'JNE3885', 'JNE3907', 'SET111', 'JNE3734',
       'JNE3774', 'SET232', 'JNE3339', 'JNE3452', 'SET154', 'SET053',
       'SET384', 'JNE3602', 'SET390', 'JNE3445', 'J0294', 'JNE3796',
       'JNE3752', 'JNE3537', 'SET250', 'J0049', 'SET179', 'JNE3717',
       'JNE3665', 'JNE3648', 'BL079', 'JNE3420', 'JNE3895', 'JNE3890',
       'JNE3577', 'SET055'], dtype=object)

## 9. B2B和非B2B用户的购买力如何？
## 9. What is the purchasing power of B2B and non-B2B users?

### a. 统计两类用户的总销售金额和总销量。
【注：需要将取值False替换为‘Non-B2B',取值True替换为'B2B',使你的答案更具有可读性】
### a. Count the total sales dollars and total sales volume for both types of users. 
[Note: You need to replace the value False with 'Non-B2B' and the value True with 'B2B' to make your answer more readable].

### b. 分别统计两类用户畅销TOP5（销售金额、销量）的商品有哪些。
### b. What are the top 5 best-selling (sales amount, sales volume) items for each of the two categories of users.

In [31]:
# 根据B2B分组

B2B_grouped = sale_data.groupby('B2B')

In [32]:
# 计算总销售金额和总销量

amount_data = B2B_grouped['Amount'].sum()
qty_data = B2B_grouped['Qty'].sum()

# 将两个数据合并

B2B_total_data = pd.DataFrame({'total sale amount': amount_data, 'total sale volume': qty_data})

# 修改索引

B2B_total_data.rename(index={False: 'Non-B2B', True: 'B2B'}, inplace=True)
B2B_total_data.index.name = 'Category'

In [33]:
B2B_total_data

          total sale amount  total sale volume
Category
Non-B2B          42709315.0              65908
B2B                366823.0                528

In [34]:
# 筛选出B2B用户的数据

B2B_data = sale_data[sale_data['B2B'] == True]

In [35]:
# B2B用户的销售金额TOP5商品

B2B_data.groupby('SKU')['Amount'].sum().nlargest(5)

SKU
J0013-SKD-XXXL       8792.0
J0230-SKD-XL         5024.0
SET397-KR-NP-XXXL    4370.0
SET268-KR-NP-S       3152.0
JNE3797-KR-XXXL      3084.0
Name: Amount, dtype: float64

In [36]:
# B2B用户的销售量TOP5商品

B2B_data.groupby('SKU')['Qty'].sum().nlargest(5)

SKU
J0013-SKD-XXXL          8
J0230-SKD-XL            4
JNE2049-KR-351-XXXL1    4
JNE3797-KR-L            4
JNE3797-KR-XXXL         4
Name: Qty, dtype: int64

In [37]:
# 筛选出非B2B用户的数据

non_B2B_data = sale_data[sale_data['B2B'] == False]

In [38]:
# 非B2B用户的销售金额TOP5商品

non_B2B_data.groupby('SKU')['Amount'].sum().nlargest(5)

SKU
J0230-SKD-M     312511.0
JNE3797-KR-L    256682.0
J0230-SKD-S     237026.0
JNE3797-KR-S    229800.0
JNE3797-KR-M    218514.0
Name: Amount, dtype: float64

In [39]:
# 非B2B用户的销售量TOP5商品

non_B2B_data.groupby('SKU')['Qty'].sum().nlargest(5)

SKU
JNE3797-KR-L     349
JNE3797-KR-S     308
JNE3797-KR-M     298
J0230-SKD-M      276
JNE3797-KR-XS    257
Name: Qty, dtype: int64

## 10.分别统计4-6月订单销量TOP3的商品以及各月销售金额TOP3的品类。
## 10. Separate statistics on the top 3 items in terms of order sales from April to June and the top 3 categories in terms of sales amount for each month.

In [40]:
# 计算4-6月订单销量TOP3的商品

sale_data.groupby('SKU')['Qty'].sum().nlargest(3)

SKU
JNE3797-KR-L    353
JNE3797-KR-S    311
JNE3797-KR-M    298
Name: Qty, dtype: int64

In [41]:
# 取出时间

sale_data['Datetime'] = pd.to_datetime(sale_data['Date'])
sale_data['month'] = sale_data['Datetime'].map(lambda x: x.month)

# 分为三个月份

sale_data_4 = sale_data[sale_data['month'] == 4]
sale_data_5 = sale_data[sale_data['month'] == 5]
sale_data_6 = sale_data[sale_data['month'] == 6]

/var/folders/zt/_8t7dzds4m5ggybczqw3t8dw0000gn/T/ipykernel_3382/928535197.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sale_data['Datetime'] = pd.to_datetime(sale_data['Date'])

In [42]:
# 4月销售金额TOP3的品类

sale_data_4.groupby('Category')['Amount'].sum().nlargest(3)

Category
Set              8892017.0
kurta            4755939.0
Western Dress    1662133.0
Name: Amount, dtype: float64

In [43]:
# 5月销售金额TOP3的品类

sale_data_5.groupby('Category')['Amount'].sum().nlargest(3)

Category
Set              6493987.0
kurta            3464743.0
Western Dress    2831370.0
Name: Amount, dtype: float64

In [44]:
# 6月销售金额TOP3的品类

sale_data_6.groupby('Category')['Amount'].sum().nlargest(3)

Category
Set              5859545.0
kurta            3308982.0
Western Dress    1896859.0
Name: Amount, dtype: float64